html {
    min-height: 100%;
}
body {
    background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topHalf, .botHalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Bright';
    -webkit-animation: fadein 2s;
    margin: 5px 0px;
    padding: 5px;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.topHalf img {
    width: 150px;
    height: auto;
    margin: 0px;
    vertical-align: middle;
}

.topHalf h2 {
    margin-top: 0px;
    font-size: 40px;
}

.topHalf p {
    text-align: center;
    font-style: normal;
    color: rgba(50, 49, 82, 0.6);
    width: 440px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.topHalf h2 {
    margin-top: 70px;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: 'Source Sans Pro';
    margin: 5px 0px;
    background: hsla(0, 0%, 98%, 0.6);
    transition: 0.3s;
}

.resultContainer:hover {
    background: hsl(0, 0%, 98%);
    cursor: pointer;
}

.resultContainer a {
    font-size: 20px;
    color: rgb(95, 180, 234);
    text-decoration: none;
}

/* ✅ Spinner styles */
#loadingSpinner {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.spinner {
    width: 45px;
    height: 45px;
    border: 5px solid #7ac5f0;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    from {}
    to {
        transform: rotate(360deg);
    }
}
